# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Token file
serverless.env.yml
.env.yml
*.zip
.idea/
*.iml

build

.DS_Store

*.hcl
.terraform
practicum-devops-bot-helper.zip
terraform.tfstate*
*.tfvars